
    body {margin-top: 0px;margin-left: 0px;}
    #page_1 {position:relative; overflow: hidden;margin: 55px 0px 59px 39px;padding: 0px;border: none;width: 754px;}
#page_1 #id1_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 754px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 56px 0px 0px 0px;padding: 0px;border:none;width: 754px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 14px 0px 0px 0px;padding: 0px;border:none;width: 252px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 502px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 38px 0px 0px 0px;padding: 0px;border:none;width: 754px;overflow: hidden;}
#page_1 #id1_3 #id1_3_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 252px;overflow: hidden;}
#page_1 #id1_3 #id1_3_2 {float:left;border:none;margin: 14px 0px 0px 0px;padding: 0px;border:none;width: 502px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:98px;left:0px;z-index:-1;width:711px;height:765px;}
#page_1 #p1dimg1 #p1img1 {width:711px;height:765px;}




.ft0{font: bold 35px 'Arial';color: #31aeb1;line-height: 41px;}
.ft1{font: bold 19px 'Arial';line-height: 22px;}
.ft2{font: bold 21px 'Arial';color: #303743;line-height: 24px;}
.ft3{font: bold 16px 'Arial';color: #31aeb1;line-height: 19px;}
.ft4{font: bold 16px 'Arial';color: #31aeb1;line-height: 18px;}
.ft5{font: 1px 'Arial';line-height: 18px;}
.ft6{font: bold 16px 'Arial';color: #544f6f;line-height: 19px;}
.ft7{font: bold 15px 'Arial';color: #544f6f;line-height: 18px;}
.ft8{font: 1px 'Arial';line-height: 9px;}
.ft9{font: 1px 'Arial';line-height: 12px;}
.ft10{font: bold 11px 'Arial';color: #31aeb1;line-height: 14px;position: relative; bottom: 6px;}
.ft11{font: 16px 'Arial';text-decoration: underline;color: #0000ff;line-height: 18px;}
.ft12{font: bold 16px 'Arial';color: #544f6f;line-height: 18px;}
.ft13{font: bold 13px 'Arial';color: #544f6f;line-height: 16px;}
.ft14{font: 1px 'Arial';line-height: 4px;}
.ft15{font: 1px 'Arial';line-height: 16px;}
.ft16{font: 16px 'Times New Roman';line-height: 19px;}
.ft17{font: bold 16px 'Arial';color: #544f6f;margin-left: 17px;line-height: 19px;}
.ft18{font: 16px 'Times New Roman';color: #544f6f;line-height: 19px;}
.ft19{font: bold 16px 'Arial';color: #544f6f;margin-left: 18px;line-height: 19px;}
.ft20{font: bold 16px 'Arial';color: #544f6f;margin-left: 17px;line-height: 21px;}
.ft21{font: bold 16px 'Arial';color: #544f6f;line-height: 21px;}
.ft22{font: bold 16px 'Arial';color: #544f6f;margin-left: 17px;line-height: 20px;}
.ft23{font: bold 16px 'Arial';color: #544f6f;line-height: 20px;}
.ft24{font: bold 14px 'Arial';color: #544f6f;margin-left: 17px;line-height: 20px;}
.ft25{font: bold 14px 'Arial';color: #544f6f;line-height: 20px;}
.ft26{font: bold 15px 'Arial';color: #544f6f;margin-left: 17px;line-height: 21px;}
.ft27{font: bold 15px 'Arial';color: #544f6f;line-height: 21px;}
.ft28{font: bold 16px 'Arial';color: #00b0f0;line-height: 19px;}

.p0{text-align: left;padding-left: 252px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 252px;margin-top: 5px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 24px;margin-top: 32px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 24px;margin-top: 3px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 24px;margin-top: 4px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 46px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 29px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 48px;padding-right: 57px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p13{text-align: left;padding-left: 48px;padding-right: 55px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p14{text-align: left;padding-left: 48px;padding-right: 66px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p15{text-align: left;padding-left: 24px;margin-top: 2px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 24px;margin-top: 1px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 48px;padding-right: 60px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p18{text-align: left;padding-left: 48px;padding-right: 111px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p19{text-align: justify;padding-left: 48px;padding-right: 63px;margin-top: 32px;margin-bottom: 0px;text-indent: -24px;}
.p20{text-align: left;padding-right: 123px;margin-top: 4px;margin-bottom: 0px;}
.p21{text-align: left;padding-right: 64px;margin-top: 4px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 252px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 404px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 91px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 313px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 150px;vertical-align: bottom;}

.tr0{height: 29px;}
.tr1{height: 18px;}
.tr2{height: 27px;}
.tr3{height: 9px;}
.tr4{height: 21px;}
.tr5{height: 12px;}
.tr6{height: 20px;}
.tr7{height: 8px;}
.tr8{height: 22px;}
.tr9{height: 14px;}
.tr10{height: 7px;}
.tr11{height: 24px;}
.tr12{height: 17px;}
.tr13{height: 4px;}
.tr14{height: 23px;}
.tr15{height: 5px;}
.tr16{height: 16px;}

.t0{width: 656px;margin-top: 43px;font: bold 16px 'Arial';color: #544f6f;}
.t1{width: 402px;font: bold 16px 'Arial';color: #544f6f;}


.body{
    position:relative;
     left:80px;
}



